@{
  
  // Use layout for template of page
  Layout = "~/_Layout.cshtml";

  // Name of page
  Page.Title = "List Movies";
  

  // Variables which setup database
  var db = Database.Open("WebPageMovies3");
  var selectCommand = "SELECT * FROM Movies";
  var searchTerm = "";

  // Command for searching genre of movie
  if( !Request.QueryString["searchGenre"].IsEmpty() ){
    selectCommand = "SELECT * FROM Movies WHERE Genre = @0";
    searchTerm = Request.QueryString["searchGenre"];
  }

  // Command for searching title of movie
  if( !Request.QueryString["searchTitle"].IsEmpty() ){
    selectCommand = "SELECT * FROM Movies WHERE Title LIKE @0";
    searchTerm = "%" + Request["searchTitle"] + "%";
  }

  // Commands for showing data in grid
  var selectedData = db.Query(selectCommand, searchTerm);
  var grid = new WebGrid(source: selectedData, defaultSort: "Genre", rowsPerPage: 4);
    
}

<h2>Movies</h2>

<form method="get">
  <div>
    <label for="searchGenre">Genre:</label>
    <input type="text" name="searchGenre" value="@Request.QueryString["searchGenre"]" />
    <input type="submit" value="Search Genre" /><br/>
    <br/>
  </div>

    <div>
    <label for="searchTitle">Movie:</label>
    <input type="text" name="searchTitle" value="@Request.QueryString["searchTitle"]" />
    <input type="submit" value="Search Title" /><br/>
    <br/>
  </div>

</form>

<div>
  @grid.GetHtml(

    tableStyle: "grid",
    headerStyle: "head",
    alternatingRowStyle: "alt",

    columns: grid.Columns(
      grid.Column("Title"),
      grid.Column("Genre"),
      grid.Column("Year"),
      grid.Column(format: @<a href="~/EditMovie?id=@item.ID">edit</a>),
      grid.Column(format: @<a href="~/DeleteMovie?id=@item.ID">delete</a>)

    )
)
</div>

<div>
  <p>
    <a href="~/AddMovie">Add new movie</a>
  </p>
</div>

