@{
  
// Variables which setup database
var db = Database.Open("WebPageMovies3");
var selectCommand = "SELECT * FROM Movies";
var searchTerm = "";

// Command for searching genre of movie
if(!Request.QueryString["searchGenre"].IsEmpty() ){
  selectCommand = "SELECT * FROM Movies WHERE Genre = @0";
  searchTerm = Request.QueryString["searchGenre"];
}

// Command for searching title of movie
if(!Request.QueryString["searchTitle"].IsEmpty() ){
  selectCommand = "SELECT * FROM Movies WHERE Title LIKE @0";
  searchTerm = "%" + Request["searchTitle"] + "%";
}

// Commands for showing data in grid
var selectedData = db.Query(selectCommand, searchTerm);
var grid = new WebGrid(source: selectedData, defaultSort: "Genre", rowsPerPage: 4);
    
}

<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Movies</title>

    <style type="text/css">
      .grid {
        margin: 4px;
        border-collapse: collapse;
        width: 600px;
      }
      .grid th, grid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
      }
      .head {
        background-color: #E8E8E8;
        font-weight: bold;
        color: #FFF;
      }
      .alt {
        background-color: #E8E8E8;
        color: #000;
      }
    </style>

  </head>

  <body>
    <h1>Movies</h1>
    <form method="get">
      <div>
        <label for="searchGenre">Genre:</label>
        <input type="text" name="searchGenre" value="@Request.QueryString["searchGenre"]" />
        <input type="submit" value="Search Genre" /><br/>
        <br/>
      </div>

       <div>
        <label for="searchTitle">Movie:</label>
        <input type="text" name="searchTitle" value="@Request.QueryString["searchTitle"]" />
        <input type="submit" value="Search Title" /><br/>
        <br/>
      </div>

    </form>
    <div>
      @grid.GetHtml(

        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",

        columns: grid.Columns(
          grid.Column("Title"),
          grid.Column("Genre"),
          grid.Column("Year")

        )
 )
    </div>

    <div>
      <p>
        <a href="~/AddMovie">Add new movie</a>
      </p>
    </div>
        
  </body>

</html>
