@{
    
}

<!DOCTYPE html>

<html lang="en">

  <head>
      <meta charset="utf-8" />
      <title></title>
  </head>

  <body>
    <div>
      @Gravatar.GetHtml("john@example.com", 100)
      @Gravatar.GetHtml("john@example.com", 100, "identicon" )
    </div>
  </body>
</html>
